.list-item {
    background-color: lightgrey;
    margin: 10px 0 10px 0;
    padding: 10px;
}

.item-element.admin-item {
    float: right;
}

a, i{
    text-decoration:none;
    font-size:1.3em;
}

.page-header{
    text-align:center;
}

@media screen and (max-width: 750px) {

}