p {
	margin-top: 15px;
}


.table-headers {
    display: none;
}

li.table-cell {
    list-style: none;
    vertical-align:middle;
}

div#sidenav {
    display: none;
}

.table-headers {
    display: table-row;
}

li.table-cell.admin-area {
    width: 80px;
}

li.table-cell.date {
    width: 140px;
}

li.table-cell.title {
    width: 412px;
}

@media screen and (max-width: 750px) {
    ul.table-row {
        display: block;
        margin-bottom: 10px;
        padding: 5px 0 5px 0;
        border-bottom: solid 1px #ccc;
    }
    .table-header{
        display:none;
    }
}